{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}计算机程序设计A{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>你好 {% if current_user.is_authenticated %}，{{ current_user.username }}{% else %}{% endif %}!</h1>
</div>
{% if current_user.is_authenticated %}
<h3>Notice:</h3>
<ol>
    <li>现在开始，提交第一次大作业的结果将会被标记为迟交，即使以前已经提交过。</li>
	<li>请在12月12日23:59分（UTC+08:00）前提交第二次大作业的源代码和程序（zip+txt）。</li>
    <li><s>目前只接受zip格式的文件！</s>（删掉）<br>
		发现解压好麻烦，所以······你们分三次提交吧</br>
		----pdf文档：实验报告（可以用word写好后转为PDF格式，如果word没有这项功能，<br>
			可以搜索“在线word转pdf”，若还不会转化格式，请联系助教。)<br>
			若你有电脑，推荐尝试使用<a href="http://ustc.tk/c/texmaker.html"> latex </a>编写。</br>
		----txt文件：所有代码（若有.h文件，复制到同一个txt文档里），用来查重</br>
		----zip文件：代码（.c和.h文件）及程序（exe文件）</br>
	<li>可以重复提交，重复提交会覆盖之前的对应格式的作业。</li>
	<li>可以多人合作，多人合作只需提交一份实验报告，注明各人工作。</li>
	<li>vs及其他软件的安装及使用请点击<a href="http://ustc.tk/c">此处</a></li>
	<li><a href="http://home.ustc.edu.cn/~ksc">课程主页</a></li>
	<li>文件命名规范？不存在的，所有文件名称将会被自动转化为班级+学号+后缀格式</br>
		（抱歉，当了助教就是可以为所欲为的）</li>
	<li>若有任何疑问，请随时和助教联系</li>
</ol>
<!--<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>-->
<div class="cl-md-4">
    {{wtf.quick_form(form,enctype="multipart/form-data")}}
</div>
{% else %}
<h3>欢迎提交计算机程序设计A作业，请先在右上角登录/注册</h3>
{% endif %}
</br>
{% if admin: %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部信息</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('.excel') }}">导出Excel</a></li>
        <li><a href="{{ url_for('.download_homework') }}">Download Homework</a></li>
        <!--<li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li> -->
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
